.nav {
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-btn button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background: none;
  border: none;
  font-size: 18px;
}
