<nav class="nav">
  <div class="nav-container">
    <img class="nav-logo" src="/assets/images/logo.png" />
    <ul class="nav-items">
      <li>About Us</li>
      <li>Partners</li>
      <li>Customers</li>
    </ul>
    <div class="nav-btn">
      <button>
        Patner with us
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </div>
  <div class="nav-menu-container">
    <img class="nav-logo" src="/assets/images/logo.png" />

    <span class="material-symbols-outlined"> menu </span>
  </div>
</nav>
