.app {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  width: 100%;
  position: relative;

  /* align-items: flex-end; */
}
.app-nav {
  position: fixed;
  width: 100%;
  z-index: 900;
}
