.home {
  padding: 7rem 0 0;
  width: 100%;
}

.hero-section,
.trusted,
.search {
  width: 100%;
  padding: 5rem 1rem;

  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.hero-text {
  font-size: clamp(1.75rem, -0.4375rem + 7vw, 3.5rem);
  font-weight: 500;
  width: 100%;
  max-width: 750px;
  text-align: center;
}
.highlight {
  padding: 1rem 3rem;
  border-radius: 27px;
  background: rgba(85, 21, 166, 0.5);
  border: 0.5px solid #5515a6;
  text-align: center;
  color: #5515a6;
  font-size: clamp(0.8125rem, 0.5781rem + 0.75vw, 1rem);
}
.text-blue {
  color: #0077b6;
}
.hero-paragraph {
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
  text-align: center;
}

.waitlist {
  border-radius: 40px;
  padding: 0.8rem 1.3rem;
  border: 0.5px solid #000;
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}
.waitlist-input {
  flex: 1;
  background: none;
  border: none;
  font-size: 18px;
  outline: none;
  font-size: clamp(0.9375rem, 0.7031rem + 0.75vw, 1.125rem);
}

.waitlist-btn {
  background-color: #5515a6;
  color: #fff;
  white-space: nowrap;
  padding: 1rem 1.7rem;
  border-radius: 25px;
  border: none;
  font-size: clamp(0.8125rem, 0.5781rem + 0.75vw, 1rem);
}
.hero-img {
  width: 100%;
  max-width: 889px;
  margin-top: 2rem;
}

.trusted-logos {
  width: 100%;
  max-width: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.4rem;
}
.trusted-text {
  text-align: center;
}

.search {
  gap: 1rem;
}
.faded {
  background: rgba(85, 21, 166, 0.1);
  padding: 0.8rem 3rem;
}
.search-text {
  font-size: clamp(1.125rem, -0.2813rem + 4.5vw, 2.25rem);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.search-paragraph {
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.search-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 30px;
  background: rgba(85, 21, 166, 0.1);
  margin-top: 2rem;
}
.map {
  width: 100%;
}
.soon {
  margin-top: 2rem;
  width: 100%;
  max-width: 1000px;
}

.testimonials {
  width: 100%;
  background: url("/assets/images/bg.png"),
    linear-gradient(rgba(0, 119, 182, 0.56), rgba(0, 119, 182, 0.56));
  min-height: 600px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}
.testimonials-container {
  width: 90%;
  min-width: 300px;
  max-width: 1400px;
  padding: 3rem 1rem;
  margin: 0 auto;
}
.testimonial-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonial-pill {
  padding: 0.5rem 2rem;
  border-radius: 28px;

  background: #fff;
  width: fit-content;
}
.testimonial-pill p {
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
}

.testimonials-box {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.testimonial-text {
  font-size: clamp(1.125rem, -0.2813rem + 4.5vw, 2.25rem);
  max-width: 500px;
  text-align: justify;
}

.testimonial {
  border-radius: 12px;
  background: linear-gradient(
    121deg,
    #fff -3.19%,
    rgba(255, 255, 255, 0) 149.26%
  );
  backdrop-filter: blur(40px);
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
  flex-shrink: 0;
  text-align: center;
  padding: 2rem;
}
.testimonial p {
  font-size: clamp(0.8125rem, 0.5781rem + 0.75vw, 1rem);
}
.testimonial-one {
  width: 100%;
  max-width: 647px;
  height: 564px;
}
.testimonial-two {
  width: 100%;
  max-width: 542.608px;
  height: 473px;
}

@media screen and (max-width: 500px) {
  .testimonial-one {
    width: 100%;
    max-width: 647px;
    height: auto;
  }
  .testimonial-two {
    width: 100%;

    height: auto;
  }

  .waitlist-btn {
    padding: 1rem;
    font-size: 12px;
    flex: 0.4;
  }
  .waitlist-input {
    flex: 0.6;
  }
}
