<div class="home">
  <section class="hero-section">
    <div class="highlight">
      <p>Designed for Healthcare Providers and Individuals</p>
    </div>
    <h1 class="hero-text">
      Making <span class="text-blue">Healthcare Accessible</span> &
      <span class="text-blue">Data Shared Efficiently</span>
    </h1>
    <p class="hero-paragraph">By Splitting their Expenses into bit payments</p>

    <div class="waitlist">
      <input type="text" placeholder="Email address" class="waitlist-input" />
      <button class="waitlist-btn">Join Waitlist</button>
    </div>

    <img src="/assets/images/hero-img.png" alt="" class="hero-img" />
  </section>
  <section class="trusted">
    <h4 class="trusted-text">
      Backed and Trusted By +2,500 HealthCare Providers
    </h4>
    <div class="trusted-logos">
      <img src="/assets/images/logo1.png" alt="logo1" />
      <img src="/assets/images/logo2.png" alt="logo2" />
      <img src="/assets/images/logo3.png" alt="logo3" />
      <img src="/assets/images/logo4.png" alt="logo4" />
      <img src="/assets/images/logo5.png" alt="logo5" />
    </div>
  </section>
  <section class="search">
    <div class="highlight faded">
      <p>Say Goodbye to Far Distant Hospitals</p>
    </div>
    <h2 class="text-blue search-text">Provide Search and Selections:</h2>
    <p class="search-paragraph">
      Search functionality to find healthcare providers, clinics, and hospitals
      based on location, specialization, or ratings to help users make informed
      decisions.
    </p>
    <div class="search-container">
      <img src="/assets/images/map.png" alt="map" class="map" />
    </div>
  </section>
  <section class="search" style="margin-bottom: 5rem">
    <div class="highlight faded">
      <p>Say Goodbye to Far Distant Hospitals</p>
    </div>
    <h2 class="text-blue search-text">Financial Tracking and Budgeting:</h2>
    <p class="search-paragraph">
      Budgeting tools to help users manage their healthcare costs. Budgeting
      tools to help users manage their healthcare costs.
    </p>

    <img src="/assets/images/soon.png" alt="comingsoon" class="soon" />
  </section>
  <div class="testimonials">
    <!-- <app-card-carousel></app-card-carousel> -->
    <div class="testimonials-container">
      <div class="testimonial-header">
        <div class="testimonial-pill">
          <p>Testimonial</p>
        </div>
        <h2 class="testimonial-text">
          Loved by ambitious users and Healthcare Providers at every stage
        </h2>
      </div>
      <div class="testimonials-box">
        <div class="testimonial-one testimonial">
          <p>
            ""I can't express how grateful I am for this app! When I needed
            urgent medical treatment, the financial burden was overwhelming.
            Thanks to MedLinc, I was able to arrange a flexible payment plan
            that made it all possible. The process was seamless, and the support
            team was incredibly responsive. This app truly made a difference in
            my life.""
          </p>
          <div class="testimonial-name">
            <p>Name: Sarah Jonson</p>
            <p>Location: Ikeja, Lagos NG</p>
          </div>
        </div>
        <div class="testimonial-two testimonial">
          <p>
            ""I can't express how grateful I am for this app! When I needed
            urgent medical treatment, the financial burden was overwhelming.
            Thanks to MedLinc, I was able to arrange a flexible payment plan
            that made it all possible. The process was seamless, and the support
            team was incredibly responsive. This app truly made a difference in
            my life.""
          </p>
          <div class="testimonial-name">
            <p>Name: Dr. Michael Rodriguez</p>
            <p>Location: Ikeja, Lagos NG</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
